[submodule "libs/nmGear"]
	path = libs/nmGear
	url = git://github.com/klaussantana/nmGear.git
[submodule "libs/nmBrowscap"]
	path = libs/nmBrowscap
	url = git://github.com/klaussantana/nmBrowscap.git
[submodule "libs/nmOutputTarget"]
	path = libs/nmOutputTarget
	url = git@github.com:klaussantana/nmOutputTarget.git
